@{
    ViewBag.Title = "GoCardless Sandbox tests";
}
@if (ViewBag.Error != null)
{
    <p style="color: red">
        ERROR: @ViewBag.Error</p>
    <p>If you have not yet set up your app keys, please supply the following in your web.config:</p>
    <pre>
  &lt;appSettings&gt;
    &lt;add key="GoCardlessAppId" value="Your App identifier"/&gt;
    &lt;add key="GoCardlessAppSecret" value="Your App secret"/&gt;
    &lt;add key="GoCardlessAccessToken" value="Your Merchant access token"/&gt;
    &lt;add key="GoCardlessMerchantId" value="Your Merchant id"/&gt;
  &lt;/appSettings&gt;
    </pre>
}
else
{
    <p>
        <a href="@ViewBag.NewBillUrl">Create new bill</a>
    </p>
    <p>
        <a href="@ViewBag.NewPreAuthorizationUrl">Create new preauthorization</a>
    </p>
    <p>
        <a href="@ViewBag.NewSubscriptionUrl">Create new subscription</a>
    </p>
    <p>
        <a href="@ViewBag.CreateMerchantUrl">Create merchant</a>
    </p>
}